<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title>CSE DAY 2016</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  	<link rel="stylesheet" href="{% static 'css/component.css'%}">
    <link rel="stylesheet" href="{% static 'css/masumstyle.css'%}">
	
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/vegas.min.css'">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!--youtube loader with jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="jquery.tubular.1.0.js"></script>
  <script type="text/javascript" src="index.js"></script>

	<!-- Google web font  -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Slabo+27px|Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
	<script src='https://www.google.com/recaptcha/api.js' async defer></script>
</head>


<body id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

<!--background video added by Masum-->
<div class="video-background">
  <div class="video-foreground">
    <iframe id="iframeID" src="http://www.youtube.com/embed/INk2mNy1hmE?autoplay=1&controls=0&showinfo=0&rel=0&loop=1&autohide=1&start=10&end=65&playlist=INk2mNy1hmE" width="960" height="447" frameborder="0" allowfullscreen></iframe>
  </div>
</div>



<!-- spinner waiting -->
<!--div class="preloader">
     <div class="sk-spinner sk-spinner-pulse"></div>
</div-->


<!-- Navigation section  -->

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
        <a href="#top" class="navbar-brand smoothScroll">CSE DAY 2016</a>
      </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#top" class="smoothScroll"><span>Home</span></a></li>
            <li><a href="#about" class="smoothScroll"><span>About</span></a></li>
              <li><a href="#events" class="smoothScroll"><span>Event Schedule</span></a></li>
              <li><a href="#picpuzzle" class="smoothScroll"><span>Picture Puzzle</span></a></li>
            <li><a href="#contact" class="smoothScroll"><span>Contact</span></a></li>
          </ul>
       </div>

    </div>
  </div>


<!-- Home section -->

<section id="home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-offset-2 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
        <h1 class="wow fadeInUp" data-wow-delay="0.6s">CSE DAY 2016</h1>
        <p class="wow fadeInUp" data-wow-delay="0.9s">
           The day when all the students, alumni and faculties of the Department of Computer Science & Engineering would go CrAzY</p>
          <div class="counter wow fadeInUp" data-wow-delay="1.0s">
            <h3>Time Remaining:</h3>
            <div id="countdown">

            </div>
          </div>
      </div>

    </div>
  </div>
</section>


<!-- About section -->

<section id="about">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-sm-8 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-thumb">
          <h1>About CSE DAY</h1>
          <p> <a href="http://cse.buet.ac.bd">Department of Computer Science & Engineering</a> of
              <a href="http://buet.ac.bd">Bangladesh University of Engineering & Technology</a> has been
          arranging specific events for allowing the cultural and social bonding among the students. This year we are
          also going to celebrate the 'CSE DAY 2016' on the 22nd of November.</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 wow fadeInUp about-img" data-wow-delay="0.6s">
        <img src="{% static 'images/cseday.jpg'%}" class="img-responsive img-circle" alt="About">
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</section>

<section id="events">
<div class="container">
    <div class="row">
        <div class="span">
            <br>
            <br>
            <hr>

        </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">

        <div class="section-title text-center">
          <h1>Events </h1>
          <h3>We are constantly updating for the events list. So keep watching</h3>
        </div>
      </div>

      <!-- team carousel -->
      <div id="team-carousel" class="owl-carousel">

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="{% static 'images/software.png' %}" class="img-responsive img-circle" alt="Mary">
              </div>
              <h2 class="heading">Inter University Programming Contest</h2>
              <p class="description">team based contest to test your ultimate skills of programming</p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="{% static 'images/hardware.png' %}" class="img-responsive img-circle" alt="Jack">
              </div>
              <h2 class="heading">Inter University Hardware Project Show</h2>
              <p class="description">show case your hardware magic trick to win the prizemoney worth more than 1,00,000 BDT</p>
            </div>
          </div>

          <div class="item col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
            <div class="team-thumb">
              <div class="image-holder">
                <img src="{% static 'images/programming.png'%}" class="img-responsive img-circle" alt="Linda">
              </div>
              <h2 class="heading">Inter University Software Project show</h2>
              <p class="description">Show us your software idea.</p>
            </div>
          </div>

        

      </div>
      <!-- end team carousel -->

      <!--Picture puzzle-->
  <div id="picpuzzle">
    <img id="puzzle" src="{% static 'images/picpuzzle.png' %}">
  <script language="javascript">
    var popupWindow = null;
    function centeredPopup(url,winName,w,h,scroll){
    LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
    TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
    settings =
    'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable'
    popupWindow = window.open(url,winName,settings)
    }
  </script>
    <h2 class="textOverImage"><a href="http://www.google.com" onclick="centeredPopup(this.href,'myWindow','700','300','yes');return false">Ready to puzzle your brain?</a></h2>
  </div>

    </div>
    <div class="row">
        <div class="span">
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>
  </div>


</section>

<!-- Contact section -->

<section id="contact">
  <div class="container">
    <div class="row">

       <div class="col-md-offset-1 col-md-10 col-sm-12">

        <div class="col-lg-offset-1 col-lg-10 section-title wow fadeInUp" data-wow-delay="0.4s">
          <h1>Send a message</h1>
          <p>Send us your query, appreciation or Love! We would be in touch soon.</p>
        </div>

        <form action="" method="post" class="wow fadeInUp" data-wow-delay="0.8s">{% csrf_token %}
          <div class="col-md-6 col-sm-6">
            <input name="name" type="text" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="col-md-6 col-sm-6">
            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="col-md-12 col-sm-12">
            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
          </div>
          <div class="col-xs-12">
            <div class=" col-md-6 col-xs-12">
              <div class="g-recaptcha" data-theme="dark" data-sitekey="6Ld44wsUAAAAADfVpalx0gZzwstU14JG0TEj4MIH"></div> <!--reCAPCHA DIV HERE-->
            </div>
            <div class="col-md-6 col-xs-12">
            <input type="submit" class="form-control" value="SEND MESSAGE">
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</section>


<!-- Footer section -->

<footer>
	<div class="container">
    
		<div class="row">

			<div class="col-md-12 col-sm-12">
            
                <ul class="social-icon"> 
                    <li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="0.2s"></a></li>
                    <li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="0.4s"></a></li>
                    <li><a href="#" class="fa fa-linkedin wow fadeInUp" data-wow-delay="0.6s"></a></li>
                    <li><a href="#" class="fa fa-instagram wow fadeInUp" data-wow-delay="0.8s"></a></li>
                    <li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="1.0s"></a></li>
                </ul>

				<p class="wow fadeInUp"  data-wow-delay="1s" >Copyright &copy; CSE DAY 2016 |
                Design: <a href="http://www.facebook.com/farabi.mahmud" title="farabi mahmud" target="_blank">Farabi Mahmud</a>
                |
                <a href="http://www.facebook.com/triplemzim" title="muhim muktadir" target="_blank">Muhim Muktadir</a>
                |
                <a href="https://www.facebook.com/masum006" target="_blank">Mahmudul Hasan Masum</a>
                </p>
                
			</div>
			
		</div>
        
	</div>
</footer>

<!-- Back top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- Javascript  -->
<script src="{% static 'js/timer.js'%}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vegas.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/toucheffects.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
