{% extends 'base.html' %}

<!DOCTYPE html>
{% load staticfiles %}
{% block title %}Profile{% endblock %}

{% block body_block %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="row panel">
            <div class="col-md-4 bg_blur ">
            </div>
            <div class="col-md-8  col-xs-12">
                <img src="{{ MEDIA_URL }}{{ userprofile.picture }}" alt="Your profile picture"
                     class="img-thumbnail picture hidden-xs"/>

                <img src="{% static 'images/home/slider/slide1/sun.png' %}" alt="Your profile picture"
                     class="img-thumbnail visible-xs picture_mob"/>

                <div class="header">
                    <h1>{{ userprofile.user.username }}</h1>
                    <h4>{{ userprofile.user.email }}</h4>
                    <h6>{{ userprofile.about_me }}</h6>
                                                                    {% ifnotequal userprofile.user request.user %}
                                        <li><a href="{% url 'block' userprofile.user.id %}"><i class="fa fa-lock"></i>Block </a></li>

                                        {% endifnotequal %}

                <span> </span>
                </div>
            </div>
        </div>

    </div>
    <div>

    </div>
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Timeline</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->

    <section id="blog" class="padding-bottom">
        <div class="container">
            <div class="row">

                <div class="timeline-blog overflow padding-top">
                    <div class="timeline-date text-center">
                        <a href="#" class="btn btn-common uppercase"></a>
                    </div>
                {% for post in posts %}

                    <div class="timeline-divider overflow padding-bottom">

                       <div class="col-sm-6 padding-right arrow-right wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">

                            <div class="single-blog timeline">
                                <div class="single-blog-wrapper">
                                    <div class="post-comment">

                                        <div class="media-body">
                                            <p>{{ post.post_info.post_text}}
                                            </p>

                                            <p>
                                              {% if post.post_info.post_sharedfrom %}


                                    via @
                                    <a href="{% url 'profile_by_name' post.post_info.post_sharedfrom.post_maker.user.username %}">
                                    {{ post.post_info.post_sharedfrom.post_maker.user.username }}
                                    </a>

                                    {% endif %}

                                            </p>
                                             {% if post.post_info.post_photo %}
                                            <img src="{{ MEDIA_URL }}{{ post.post_info.post_photo }}" width="400"/>
                                            {% endif %}
                                            <ul class="nav navbar-nav post-nav">
                                                <li><a href="{% url 'post' post.post_info.id %}"><i class="fa fa-clock-o"></i>{{ post.post_info.post_time }}</a></li>
                                                <li><a href="#"><i class="fa fa-globe"></i>{{ post.post_info.post_location.location_name   }}</a></li>
                                                <li><a href="#"><i class="fa fa-comments"></i>{{ post.post_info.post_sharecount }} Spreads</a></li>
                                            </ul>

                                            <div>
                                                <br>
                                            </div>
                                            <ul class="nav navbar-nav post-nav">
                                                <li><a href="{% url 'spread' post.post_info.id %}><i class="fa fa-reply"></i>Spread it!!!!</a></li>



                                            </ul>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% ifequal userprofile.user request.user %}
            <div class="col-md-3 pull-right">

                    <ul>
                        <h3> Blocked List</h3>

                        {% for block in blocks %}
                        <li> {{ block.blocked.user.username }}   <a href="{% url 'unblock' block.blocked.user.id %}">unblock</a></li>
                        {% endfor %}


                       </ul>


            </div>

            {% endifequal %}

            </div>
        </div>


    </section>
{% endblock %}
    
