{% extends 'base.html' %}

<!DOCTYPE html>
{% load staticfiles %}

{% block body_block %}
        <h1 >Register with Sharethis</h1>

        {% if registered %}
        Sharethis says: <strong>thank you for registering!</strong>
        {% else %}
        <form class="form-signin" id="signup_form" method="post" action="{% url 'newsfeed' %}"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->

            {{register_form.as_p}}
            
            <h2 class="form-signin-heading">Join with us</h2>
            <p>
			<input id="id_username" maxlength="30" name="username" type="text" class="form-control" placeholder="Username" required autofocus /></p>
			<input id="id_password" name="password" type="password" class="form-control" placeholder="Password" required /></p>
			<input id="id_password2" name="password2" type="password" class="form-control" placeholder="Confirm your password " required/></p>
			<input id="id_email" name="email" type="email" class="form-control" placeholder="Email address" required/></p>
			<input id="id_email2" name="email2" type="email" class="form-control"placeholder="Confirm Email address" required /></p>
			<button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Register">Register</button>
            <!-- Provide a button to click to submit the form. -->
           
        </form>
        
        
               
        {% endif %}

        

   
{% endblock %}
