{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
{% block title %}Update Info{% endblock %}
{% block body_block %}





    <div class="container">
        <h1>Edit Profile</h1>
        <div class="pull-right">
            <a href="{%url 'change_password' %}">Change Your Password</a>
        </div>

        <hr>
        <div class="row">
            <!-- edit form column -->
            <div class="col-md-9 personal-info">

                <h3>Personal info of <strong>{{ user.username }}</strong></h3>

                <form class="form-horizontal" role="form" action="{% url 'updateinfo' %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>

                        <div class="col-lg-8">
                            <input class="form-control" value="{{ user.email }}" type="text" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">About yourself:</label>

                        <div class="col-lg-8">
                            <input class="form-control" value="{{ user.userprofile.about_me }}" type="text" name="aboutme"
                                   placeholder="Write something about yourself">
                        </div>

                        <div class="col-md-3">
                            <br>
                        </div>
                        <div class="col-md-8">
                            <br>
                            <br>
                            <div class="text-center">
                                <img src="{{ MEDIA_URL }}{{ user.userprofile.picture }}" class="avatar img-thumnail"
                                     width="120"alt="avatar">
                                <h6>Upload a different photo...</h6>

                                <input name="profile_photo" class="form-control btn-block" type="file">
                                </input>
                            </div>
                        </div>


                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>

                        <div class="col-md-8">
                            <input class="btn btn-primary btn-block" value="Save Changes" type="submit" value="Post">
                            </input>
                            <span></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>

{% endblock %}
    
