{% extends 'picturepuzzle/base.html' %}

{% block content %}
	 <form  class="form-horizontal picform col-xs-5" action="" method="POST">
	 	<span class="glyphicon glyphicon-info-sign hintspan" data-toggle="modal" data-target="#myModal"> Credits</span>

		<!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog modal-sm">
		      <div class="modal-content">
		        <div class="modal-body">
		          <p>Credits:<br>Frontend Design: Masum<br>What's happening behind: Zim<br>Question Setters:<br>Zim (12)<br>Farabi (11)<br>Rafi (12)<br>Neloy (12)<br>Masum (12)<br></p>
		        </div>
		      </div>
		    </div>
		  </div>

		<h2>Enter your answer</h2>
		{% csrf_token %}
		
	    <div class="form-group col-xs-12">
			<input class="form-control" name="answer" id = "answer" type="text" title="Answer" placeholder="Solution" />
		</div>
	    <button id="signup-btn" type="submit" class = 'signup btn col-xs-5 col-xs-offset-3'>Submit</button>
	  <div class="col-xs-12 text-center level">
	  	<h3>Your current level: {{ puzzle.number }}</h3>
	  </div>
		<div class="button-holder">
			<a href="leaderboard" class="btn btn-info col-xs-5 col-xs-offset-3">Leaderboard</a>
			<a href="logout" class="btn btn-info col-xs-5 col-xs-offset-3">Logout</a>
		</div>
	</form >

	<div class="col-xs-7 picturediv">
	  <img class="picture img-thumbnail"  src="{{ puzzle.photo.url }}" alt="Puzzle"><!-- width="450" height="450"-->
	 </div>
	
{% endblock %}
